@keyframes turnTicker {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes wave {
  0% {
    transform: rotateZ(-130deg);
    transform-origin: 10% -10%;
  }
  10% {
    transform: rotateZ(-160deg);
    transform-origin: 10% -10%;
  }
  20% {
    transform: rotateZ(-130deg);
    transform-origin: 10% -10%;
  }
  30% {
    transform: rotateZ(-160deg);
    transform-origin: 10% -10%;
  }
  40% {
    transform: rotateZ(-120deg);
    transform-origin: 10% -10%;
  }
  50% {
    transform: rotateZ(-160deg);
    transform-origin: 10% -10%;
  }
  60% {
    transform: rotateZ(-120deg);
    transform-origin: 10% -10%;
  }
  70% {
    transform: rotateZ(-160deg);
    transform-origin: 10% -10%;
  }
  80% {
    transform: rotateZ(-120deg);
    transform-origin: 10% -10%;
  }
  90% {
    transform: rotateZ(-160deg);
    transform-origin: 10% -10%;
  }
  100% {
    transform: rotateZ(-130deg);
    transform-origin: 10% -10%;
  }
}

@keyframes cloudSwirl {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes windy {
  0% {
    transform: translateX(0rem);
  }

  50% {
    transform: translateX(0.5rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

@keyframes littleWindy {
  0% {
    transform: translateX(0rem);
  }

  50% {
    transform: translateX(-0.3rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

@keyframes foot-tapping {
  0% {
    transform: rotateZ(10deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(10deg);
  }
}

@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes shakeHead {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.99);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
