.start {
  background-color: #0275d8;
  margin: 5rem;
  padding: 5rem 0;
  align-items: center;

  @include respond(tab-portrait) {
    // width < 600
    margin: 0;
  }

  @include respond(phone) {
    margin: 0;
  }

  &__description {
    padding-top: 2rem;

    @include respond(tab-portrait) {
      // width < 600
      font-size: 1.5rem;
    }

    @include respond(phone) {
      font-size: 1rem;
      margin: 0 1rem 0 1rem;
    }
  }
}

.ticker {
  &__heading {
    font-size: 15rem;

    @include respond(big-desktop) {
      font-size: 75%; // 1 rem = 12px
    }

    @include respond(tab-landscape) {
      // width < 900
      font-size: 13rem; // 1 rem = 9px
    }

    @include respond(tab-portrait) {
      // width < 600
      font-size: 7rem;
    }

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__paragraph {
    font-size: 1.5rem;
    padding-bottom: 5rem;

    @include respond(tab-portrait) {
      // width < 600
      font-size: 1.2rem;
    }

    @include respond(phone) {
      font-size: 0.8rem;
    }
  }
}

#Snowballs {
  animation: windy 0.5s infinite ease;
}

#LeftTree #Vector {
  animation: windy 2s infinite linear;
}

#Cloud {
  animation: cloudSwirl 10s infinite;
}

#clock-ticker {
  animation: turnTicker 3s infinite linear;
  transform-origin: 15% 30%;
  transform-box: fill-box;
}

#Lady #Vector_26 {
  animation: foot-tapping 2s infinite linear;
  transform-origin: 15% 30%;
  transform-box: fill-box;
}

.story_text {
  font-size: 2rem;
  margin: 5rem;

  @include respond(tab-portrait) {
    // width < 600
    font-size: 1.5rem;
    margin: 15rem 3rem 10rem 3rem;
  }

  @include respond(phone) {
    font-size: 1rem;
    margin: 10rem 1rem 8rem 1rem;
  }
}

#RightArm {
  animation: wave 5s infinite linear;
  transform-box: fill-box;
  z-index: 5;
}

#TopBody,
#LowerBody {
  animation: littleWindy 0.5s infinite linear;
}

#Head {
  animation: shakeHead 1s infinite linear;
  transform-box: fill-box;
  transform-origin: 50% 30%;
}

.maxButton {
  background-color: #eb3a1b;
  color: white;
  padding: 01rem;
  border-radius: 150%;
  box-shadow: 1rem 1rem rgba(black, 0.5);

  &:hover {
  }
}
